* {
    margin: 0;
}

main {
    background-color: rgb(254, 212, 75);
    padding-bottom: 70px;
}

#menu-img {
    width: 80%;
    margin-left: 10%;
    margin-top: 2%;
}

#download-button {
    background-color: rgb(14, 57, 56);
    color: rgb(214, 182, 127);
    font-size: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin: 0;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%);
    transform: translate(-50%);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    text-decoration: none;
}

#download-button:hover {
    background-color: rgb(38, 104, 81);
    cursor: pointer;
}

#notif-banner {
    background-color: rgb(254, 248, 191);
    border-bottom: 1px solid rgb(55, 25, 3);
    border-top: 1px solid rgb(55, 25, 3);
    text-align: center;
    margin-top: 70px;
}
#notif-banner a {
    font-size: 18px;
    font-weight: 700;
}
#notif-banner a:hover {
    color: rgb(214, 182, 127);
}
#restaurants {
    background-color: white;
    border: 1px solid rgb(55, 33, 0);
    border-radius: 25px;
    padding: 40px 60px;
    margin-top: 3%;
    margin-left: 3%;
    margin-right: 3.5%;
    display: flex;
}
#eet-restaurants {
    display: flex;
    margin-top: 3%;
    margin-left: -13.5%;
    width: 900px;
}
#restaurants h1 {
    display: inline-block;
}
#restaurant-locaties-1, #restaurant-locaties-2 {
    margin-top: 10px;
}
#restaurant-locaties-1 {
    padding-right: 40%;
}
#bezorg-restaurants {
    margin-left: 10%;
}
#bezorg-locaties {
    margin-top: 7%;
}
h1 {
    font-size: 23px;
    color: rgb(177, 177, 142);
}
p {
    font-size: 18px;
    margin-top: 2px;
}

#restaurants p:hover {
    text-decoration: underline;
    cursor: pointer;
}

@media only screen and (max-width: 680px) {
    #restaurants {
        display: block;
        text-align: center;
        margin: 0;
    }
    #eet-restaurants {
        display: block;
        margin: 0;
    }
    #bezorg-restaurants {
        margin-top: 20px;
    }
  }