#body {
  background-image: url("../../images/_menu/lightMode.png");
}

main {
  padding-top: 0;
}

p {
  font-size: 25px;
  line-height: 40px;
  color: black;
  font-weight: 200;
}
#background-color {
  background-color: rgba(14, 57, 56, 0.768);
  width: 100%;
  height: 300px;
  z-index: 0;
}

#header-img {
  width: 90%;
  z-index: 1;
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translate(-50%, 0);
}

#header {
  margin: 0 20%;
}

#header h1 {
  position: absolute;
  top: 82vh;
  font-size: 62px;
  font-weight: 900;
  font-family: Arial, Helvetica, sans-serif;
}

#header p {
  position: absolute;
  top: 93vh;
  width: 60%;
}

#contact {
  position: absolute;
  top: 130vh;
  margin: 0 0 0 20%;
}

#contact h3 {
  font-size: 40px;
  margin-bottom: 17px;
}

#cards {
  position: absolute;
  top: 150vh;
  display: grid;
  grid-template-columns: 29vw 29vw;
  left: 50%;
  transform: translate(-50%, 0);
  gap: 1.5vw;
}

.card {
  background-color: rgb(214, 182, 127);
  padding-bottom: 30px;
  border-radius: 10px;
}

.card img {
  width: 29vw;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.card p {
  font-size: 18px;
  line-height: 23px;
  margin-left: 20px;
  padding-right: 10px;
}

.card h4 {
  font-size: 25px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-top: 30px;
}
#aanvraag-txt {
  margin-top: 15px;
  text-decoration: underline;
}

#reserveer-card:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  background-color: rgb(190, 161, 111);
}

#missie {
  color: rgb(190, 161, 111);
  text-align: center;
  font-size: 40px;
  line-height: 40px;
  width: 60vw;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 40px 0;
}

#signature {
  position: absolute;
  top: 680px;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 15px;
  width: 40vw;
  text-align: center;
  padding-bottom: 40px;
}
