main{
    display: flex;
    justify-content: space-between;
}

.product-foto{
    border-radius: 10px;
    width: 35%;
}

.product-wrapper{
    width: 50%;
    display: flex;

    margin: 1%;
    margin-left: 5%;
    margin-top: 4%;
}

.tekst-wrapper{
    min-width: 100%;
}

.product-titel{
    background-color: var(--Yellow);

    width: fit-content;
    padding: 1%;
    border-radius: 10px;

    font-size: larger;

    margin-left: 5%;
}

.product-omschrijving{
    background-color: var(--Yellow);

    width: 80%;

    padding: 1%;
    border-radius: 10px;

    font-size: larger;

    margin-left: 6%;
    margin-top: 2.7%;
}

.product-buy-wrapper{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-left: 6%;

    background-color: var(--Yellow);
    margin-top: 2.7%;

    padding: 1%;

    border-radius: 10px;
}

.product-prijs{
    width: fit-content;

    background-color: var(--Yellow);
    border-radius: 10px;

    padding: 1%;

    padding-left: 5%;
    padding-right: 5%;
}

.product-addButton{
    background-color: var(--Blue);
    color: var(--White);
    border-radius: 10px;

    width: 50%;
    padding: 1%;

    border: none;

    transition: all 0.3s ease-in;
    cursor: pointer;
}

.product-addButton:hover{
    background-color: rgb(9, 38, 38);
}