main {
    min-height: 100%;
    min-width: 100%;


}

.content {
    padding-top: 3vh;
}

.eten {
    width: 10vw;
    height: 11vh;
    margin-left: 15vw;
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
    background-color: var(--Yellow);
    color: var(--Black);
    border-radius: 10px;
}

.tekst1 {
    width: 20vw;
    height: 4.5;
    
    background-color: var(--Yellow);
    color: var(--Black);
}

.tekst2 {
    width: 15vw;
    height: 3.5;
    background-color: var(--Yellow);
    color: var(--Black);
}

.tekst1, .tekst2, .prijs {
    margin-left: 27vw;
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
    border-radius: 10px;
    padding: 1%;
}

.prijs{
    margin-top: -8.3vh;
}


.add {
    margin-left: 10vw;
    margin-top: -3.5vh;
}

.textWrapper {
    margin-top: -16vh;
}

